@import url(common.css);
@import url(default.css);

.visual {
    position: relative;
    color: #FFF;
}
.visual .tit {
    position: absolute;
    left: calc(50% - 700px);
    top: 50%;
    z-index: 10;
    transform: translate(0, -50%);
}
.visual .tit .txt h2 {
    display: block;
    padding-bottom: 10px;
    font-size: 60px;
    font-weight: 700;
}
.visual .tit .txt p {
    display: block;
    font-size: 25px;
}
.visual .popup {
    height: 100vh;
}
.visual .popup ul li img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale3d(1.1,1.1,1);
    transition: 2s;
}
.visual .popup ul li.swiper-slide-active img {
    transform: scale3d(1,1,1);
}
.visual .popup .btn_wrap {
    display: flex;
    align-items: center;
    position: absolute;
    left: calc(50% - 700px);
    top: calc(50% + 110px);
    z-index: 10;
}
.visual .popup .btn_wrap .btn_paging {
    display: flex; 
    font-size: 0;
    line-height: 0;
}
.visual .popup .btn_wrap .btn_paging span {
    opacity: 0.5;
    width: 70px;
    height: 4px;
    background-color: #FFF;
    border-radius: 0;
}
.visual .popup .btn_wrap .btn_paging span.swiper-pagination-bullet-active {
    opacity: 1;
}
.visual .popup .btn_wrap .btn_stop {
    width: 7px;
    height: 4px;
    margin-left: 5px;
    background-image: url(../images/main/visual_btn_stop.svg);
    background-position: center center;
    background-repeat: no-repeat;
    font-size: 0;
    line-height: 0;
}
.visual .popup .btn_wrap .btn_stop.play {
    background-image: url(../images/main/visual_btn_play.svg);
}
@media screen and (max-width:1480px){
    .visual .tit {
        left: 40px;
    }
    .visual .popup .btn_wrap {
        left: 40px;
    }
}
@media screen and (max-width:1200px){
    .visual .tit .txt h2 {
        font-size: 50px;
    }
    .visual .tit .txt p {
        font-size: 20px;
    }
    .visual .popup .btn_wrap .btn_paging span {
        width: 60px;
    }
}
@media screen and (max-width:1000px){
    .visual .tit .txt h2 {
        font-size: 40px;
    }
    .visual .tit .txt p {
        font-size: 17px;
    }
    .visual .popup .btn_wrap .btn_paging span {
        width: 50px;
    }
}
@media screen and (max-width:640px){
    .visual .tit {
        left: 50%;
        width: calc(100% - 40px);
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .visual .tit .txt h2 {
        font-size: 30px;
    }
    .visual .tit .txt p {
        font-size: 13px;
    }
    .visual .tit .txt p .m_no {
        display: none;
    }
    .visual .popup {
        height: 600px;
    }
    .visual .popup .btn_wrap {
        left: 50%;
        top: calc(50% + 90px);
        transform: translate(-50%, 0);
    }
    .visual .popup .btn_wrap .btn_paging span {
        width: 40px;
    }
    .visual .popup .btn_wrap .btn_stop {
        display: none;
    }
}

.project {
    position: relative;
    margin: 100px 0;
}
.project .tit h2 {
    position: absolute;
    left: -80px;
    top: 155px;
    font-size: 100px;
    font-weight: 700;
    transform:rotate(270deg);
}
.project .list  ul li a {
    display: block;
    float: right;
    margin-bottom: 70px;
}
.project .list  ul li:last-child {
    margin-bottom: 0;
}
.project .list  ul li a .prj_bg1  {
    background: url(../images/main/project_bg1.png) no-repeat center center / cover;
}
.project .list  ul li a .prj_bg2 {
    background: url(../images/main/project_bg2.png) no-repeat center center / cover;
}
.project .list  ul li a .prj_bg1,
.project .list  ul li a .prj_bg2 {
    width: 1580px;
    height: 800px;
    padding: 554px 40px 0 40px;
    color: #FFF;
}
.project .list  ul li a .prj_bg1 .txt {
    display: flex;
    justify-content: space-between;
}
.project .list  ul li a .prj_bg1 .txt .txt_main .tit {
    margin-bottom: 15px;
    font-size: 40px;
    font-weight: 700;
}
.project .list  ul li a .prj_bg1 .txt .txt_main .detail_txt {
    width: 1160px;
    font-size: 20px;
}
.project .list  ul li a .prj_bg1 .txt .txt_info {
    margin-top: 79px;
    font-size: 20px;
}
.project .list  ul li a .prj_bg1 .txt .txt_info .place {
    margin-bottom: 10px;
}
.project .list  ul li a .prj_bg2 .txt {
    display: flex;
    justify-content: space-between;
}
.project .list  ul li a .prj_bg2 .txt .txt_main .tit {
    margin-bottom: 15px;
    font-size: 40px;
    font-weight: 700;
}
.project .list  ul li a .prj_bg2 .txt .txt_main .detail_txt {
    width: 1160px;
    font-size: 20px;
}
.project .list  ul li a .prj_bg2 .txt .txt_info {
    margin-top: 79px;
    font-size: 20px;
}
.project .list  ul li a .prj_bg2 .txt .txt_info .place {
    margin-bottom: 10px;
}
@media screen and (max-width:1919px){
    .project {
        margin: 100px 0 0 40px;
    }
    .project .tit h2 {
        position: relative;
        left: 0;
        top: 0;
        margin: 0 0 50px 0;
        font-size: 100px;
        transform:rotate(0deg);
    }
    .project .list  ul li a {
        float: none;
    }
    .project .list  ul li a .prj_bg1,
    .project .list  ul li a .prj_bg2 {
        width: auto;
        height: auto;
        padding: 554px 40px 40px 40px;
    }
    .project .list  ul li a .prj_bg1 .txt {
        display: block;
    }
    .project .list ul li a .prj_bg1 .txt .txt_info {
        margin-top: 15px;
    }
    .project .list  ul li a .prj_bg2 .txt {
        display: block;
    }
    .project .list ul li a .prj_bg2 .txt .txt_info {
        margin-top: 15px;
    }
}
@media screen and (max-width:1300px){
    .project {
        margin: 70px 0 0 40px;
    }
    .project .tit h2 {
        margin: 0 0 40px 0;
        font-size: 80px;
    }
    .project .list  ul li a {
        margin-bottom: 60px;
    }
    .project .list  ul li a .prj_bg1,
    .project .list  ul li a .prj_bg2 {
        padding: 500px 40px 40px 40px;
    } 
    .project .list  ul li a .prj_bg1 .txt .txt_main .tit {
        font-size: 35px;
    }
    .project .list ul li a .prj_bg1 .txt .txt_main .detail_txt {
        width: auto;
        font-size: 15px;
        line-height: 1.5;
        height: 3em;
        overflow: hidden;
    }
    .project .list  ul li a .prj_bg2 .txt .txt_info {
        font-size: 18px;
    }
    .project .list  ul li a .prj_bg .txt .txt_main .tit {
        font-size: 35px;
    }
    .project .list ul li a .prj_bg2 .txt .txt_main .detail_txt {
        width: auto;
        font-size: 15px;
        line-height: 1.5;
        height: 3em;
        overflow: hidden;
    }
    .project .list  ul li a .prj_bg2 .txt .txt_info {
        font-size: 18px;
    }
}
@media screen and (max-width:1100px){
    .project {
        margin: 60px 0 0 40px;
    }
    .project .tit h2 {
        margin: 0 0 30px 0;
        font-size: 60px;
    }
    .project .list  ul li a {
        margin-bottom: 50px;
    }
    .project .list  ul li a .prj_bg1,
    .project .list  ul li a .prj_bg2 {
        padding: 400px 40px 40px 40px;
    } 
    .project .list  ul li a .prj_bg1 .txt .txt_main .tit {
        font-size: 30px;
    }
    .project .list  ul li a .prj_bg .txt .txt_main .tit {
        font-size: 30px;
    }
}
@media screen and (max-width:800px){
    .project {
        margin: 40px 0 0 30px;
    }
    .project .tit h2 {
        font-size: 45px;
    }
    .project .list  ul li a {
        margin-bottom: 40px;
    }
    .project .list  ul li a .prj_bg1,
    .project .list  ul li a .prj_bg2 {
        padding: 350px 30px 30px 30px;
    }
    .project .list  ul li a .prj_bg1 .txt .txt_main .tit {
        font-size: 26px;
    }
    .project .list  ul li a .prj_bg1 .txt .txt_info {
        font-size: 15px;
    }
    .project .list  ul li a .prj_bg2 .txt .txt_main .tit {
        font-size: 26px;
    }
    .project .list  ul li a .prj_bg2 .txt .txt_info {
        font-size: 15px;
    }
}
@media screen and (max-width:640px){
    .project {
        margin: 30px 0 0 20px;
    }
    .project .tit h2 {
        position: relative;
        left: 0;
        top: 0;
        font-size: 30px;
    }
    .project .list  ul li a {
        float: none;
        margin-bottom: 30px;
    }
    .project .list  ul li a .prj_bg1,
    .project .list  ul li a .prj_bg2 {
        width: auto;
        height: auto;
        padding: 241px 28px 30px 20px;
    }
    .project .list  ul li a .prj_bg1 .txt {
        display: block;
    }
    .project .list  ul li a .prj_bg1 .txt .txt_main .tit {
        margin-bottom: 10px;
        font-size: 23px;
    }
    .project .list  ul li a .prj_bg1 .txt .txt_main .detail_txt {
        display: none;
    }
    .project .list  ul li a .prj_bg1 .txt .txt_info {
        margin-top: 0;
        font-size: 13px;
    }
    .project .list  ul li a .prj_bg1 .txt .txt_info .place {
        margin-bottom: 5px;
    }
    .project .list  ul li a .prj_bg2 .txt {
        display: block;
    }
    .project .list  ul li a .prj_bg2 .txt .txt_main .tit {
        margin-bottom: 10px;
        font-size: 23px;
    }
    .project .list  ul li a .prj_bg2 .txt .txt_main .detail_txt {
        display: none;
    }
    .project .list  ul li a .prj_bg2 .txt .txt_info {
        margin-top: 0;
        font-size: 13px;
    }
    .project .list  ul li a .prj_bg2 .txt .txt_info .place {
        margin-bottom: 5px;
    }
}

.news {
    margin: 130px 0 200px 0;
}
.news h2 {
    font-size: 0;
    line-height: 0;
}
.news .tit_edu {
    position: relative;
    height: 430px;
    margin-bottom: 102px;
}
.news .tit_edu strong {
    float: left;
    margin-top: 76px;
    width: 26%;
    font-size: 40px;
    font-weight: 700;
}
.news .tit_edu .list {
    float: right;
    width: 74%;
}
.news .tit_edu .list ul li {
    float: left;
    width: 320px;
    margin-right: 40px;
}
.news .tit_edu .list ul li:last-child {
    margin-right: 0;
}
.news .tit_edu .list ul li a {
    display: block;
}
.news .tit_edu .list ul li a img {
    width: 100%;
}
.news .tit_edu .list ul li a span {
    display: block;
    margin: 10px 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    height: 1.5em;
    overflow: hidden;
}
.news .tit_edu .list ul li a p {
    display: block;
    font-size: 16px;
}
.news .tit_edu .btn {
    position: absolute;
    left: 80px;
    top: 220px;
}
.news .tit_edu .btn a {
    display: block;
    font-size: 16px;
    border-bottom: 1px solid #707070;
}
.news .tit_cut {
    position: relative;
    height: 430px;
    margin-bottom: 102px;
}
.news .tit_cut::after {
    position: absolute;
    left: 0;
    top: -50px;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #CCCCCC;
    content: "";
}
.news .tit_cut strong {
    float: right;
    margin-top: 76px;
    font-size: 40px;
    font-weight: 700;
}
.news .tit_cut .list {
    float: left;
    width: 74%;
}
.news .tit_cut .list ul li {
    float: left;
    width: 320px;
    margin-right: 40px;
}
.news .tit_cut .list ul li:last-child {
    margin-right: 0;
}
.news .tit_cut .list ul li a {
    display: block;
}
.news .tit_cut .list ul li a img {
    width: 100%;
}
.news .tit_cut .list ul li a span {
    display: block;
    margin: 10px 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    height: 1.5em;
    overflow: hidden;
}
.news .tit_cut .list ul li a p {
    display: block;
    font-size: 16px;
}
.news .tit_cut .btn {
    position: absolute;
    right: 80px;
    top: 220px;
}
.news .tit_cut .btn a {
    display: inline-block;
    font-size: 16px;
    border-bottom: 1px solid #707070;
}
@media screen and (max-width:1440px){
    .news {
        margin: 50px 0 150px 0;
    }
    .news .tit_edu {
        height: auto;
    }
    .news .tit_edu strong {
        float: none;
        margin-top: 0;
        width: auto;
    }
    .news .tit_edu .list {
        float: none;
        width: 100%;
        margin-top: 30px;
    }
    .news .tit_edu .list ul li a p {
        line-height: 1.5;
        height: 3em;
        overflow: hidden;
    }
    .news .tit_cut {
        height: auto;
    }
    .news .tit_cut strong {
        float: none;
        margin-top: 0;
        width: auto;
    }
    .news .tit_cut .list {
        float: none;
        width: 100%;
        margin-top: 30px;
    }
    .news .tit_cut .list ul li a p {
        line-height: 1.5;
        height: 3em;
        overflow: hidden;
    }
}
@media screen and (max-width:1000px){
    .news {
        margin: 50px 0 100px 0;
    }
    .news .tit_edu {
        margin-bottom: 85px;
    }
    .news .tit_edu strong {
        font-size: 35px;
    }
    .news .tit_edu .list ul li a span {
        margin: 10px 0 5px 0;
        font-size: 18px;
    }
    .news .tit_edu .list ul li a p {
        font-size: 15px;
    }
    .news .tit_cut {
        margin-bottom: 85px;
    }
    .news .tit_cut strong {
        font-size: 35px;
    }
    .news .tit_cut .list ul li a span {
        margin: 10px 0 5px 0;
        font-size: 18px;
    }
    .news .tit_cut .list ul li a p {
        font-size: 15px;
    }
    .news .tit_cut::after {
        top: -35px;
    }
}
@media screen and (max-width:800px){
    .news {
        margin: 50px 0 100px 0;
    }
    .news .tit_edu .list ul li a span {
        font-size: 16px;
    }
    .news .tit_edu .list ul li a p {
        font-size: 13px;
    }
    .news .tit_cut .list ul li a span {
        font-size: 16px;
    }
    .news .tit_cut .list ul li a p {
        font-size: 13px;
    }
}
@media screen and (max-width:640px){
    .news {
        margin: 20px 0 50px 0;
    }
    .news .tit_edu {
        height: auto;
        margin-bottom: 77px;
    }
    .news .tit_edu strong {
        float: none;
        margin-top: 0;
        width: auto;
        font-size: 30px;
    }
    .news .tit_edu .list {
        float: none;
        width: auto;
        margin: 20px 0 0 0;
    }
    .news .tit_edu .list ul li {
        width: 208px;
        margin-right: 16px;
    }
    .news .tit_edu .list ul li a span {
        margin: 10px 0 0 0;
        font-size: 15px;
    }
    .news .tit_edu .list ul li a p {
        display: none;
    }
    .news .tit_edu .btn {
        left: 40%;
        top: 105%;
    }
    .news .tit_edu .btn a {
        font-size: 13px;
    }
    .news .tit_cut {
        height: auto;
        padding-top: 30px;
        margin-bottom: 77px;
    }
    .news .tit_cut::after {
        top: 0;
    }
    .news .tit_cut strong {
        float: none;
        margin-top: 0;
        width: auto;
        font-size: 30px;
    }
    .news .tit_cut .list {
        float: none;
        width: auto;
        margin: 20px 0 0 0;
    }
    .news .tit_cut .list ul li {
        width: 208px;
        margin-right: 16px;
    }
    .news .tit_cut .list ul li a span {
        margin: 10px 0 0 0;
        font-size: 15px;
    }
    .news .tit_cut .list ul li a p {
        display: none;
    }
    .news .tit_cut .btn {
        left: 40%;
        top: 105%;
    }
    .news .tit_cut .btn a {
        font-size: 13px;
    }
}

.sug {
    margin: 100px 0 200px 0;
}
.sug h2 {
    font-size: 0;
    line-height: 0;
}
.sug .sug_bg {
    background: url(../images/main/sug_bg.png)no-repeat center center / cover;
    width: 100%;
    height: 400px;
    padding: 50px 20px;
    
}
.sug .sug_bg .sug_txt {
    padding: 90px 40px 0 40px;
    background-color: rgba(255,255,255,0.8);
    height: 300px;
    text-align: center;
}
.sug .sug_bg .sug_txt span {
    font-size: 25px;
    font-weight: 700;
}
.sug .sug_bg .sug_txt p {
    margin: 10px 0 20px 0;
    font-size: 20px;
}
.sug .sug_bg .sug_txt a {
    font-size: 16px;
    border-bottom: 1px solid #707070;
}
@media screen and (max-width:1000px){
    .sug {
        margin: 0 0 150px 0;
    }
    .sug .sug_bg {
        height: auto;
        padding: 40px 0;
    }
    .sug .sug_bg .sug_txt {
        padding: 80px 30px 0 30px;
        height: 280px;
    }
    .sug .sug_bg .sug_txt span {
        font-size: 23px;
    }
    .sug .sug_bg .sug_txt p {
        font-size: 18px;
    }
    .sug .sug_bg .sug_txt a {
        font-size: 18px;
    }
}
@media screen and (max-width:1000px){
    .sug {
        margin: 0 0 100px 0;
    }
    .sug .sug_bg {
        padding: 35px 0;
    }
    .sug .sug_bg .sug_txt {
        padding: 70px 20px 0 20px;
        height: 260px;
    }
    .sug .sug_bg .sug_txt span {
        font-size: 20px;
    }
    .sug .sug_bg .sug_txt p {
        font-size: 15px;
    }
    .sug .sug_bg .sug_txt a {
        font-size: 15px;
    }
}
@media screen and (max-width:640px){
    .sug {
        margin: 0 0 50px 0;
    }
    .sug .sug_bg {
        padding: 30px 0;
    }
    .sug .sug_bg .sug_txt {
        padding: 63px 20px 0 20px;
        height: 240px;
    }
    .sug .sug_bg .sug_txt span {
        font-size: 18px;
    }
    .sug .sug_bg .sug_txt p {
        font-size: 13px;
    }
    .sug .sug_bg .sug_txt a {
        font-size: 13px;
    }
}

.product {
    margin: 0 0 200px 0;
}
.product .tit {
    position: relative;
    margin-bottom: 50px;
    text-align: center;
}
.product .tit strong {
    font-size: 20px;
}
.product .tit h2 {
    font-size: 40px;
    font-weight: 700;
}
.product .tit h2 span {
    position: relative;
}
.product .tit h2 span::after {
    position: absolute;
    left: 115%;
    top: 32px;
    width: 120px;
    height: 2px;
    background: #CCCCCC;
    content: ""; 
}
.product .tit h2 span::before {
    position: absolute;
    right: 115%;
    top: 32px;
    width: 120px;
    height: 2px;
    background: #CCCCCC;
    content: ""; 
}
.product .list {
    width: 100%;
}
.product .list ul li {
    float: left;
    width: 440px;
    margin-right: 40px;
}
.product .list ul li:last-child {
    margin-right: 0;
}
.product .list ul li a {
    display: block;
}
.product .list ul li a img {
    position: relative;
    width: 100%;
}
.product .list ul li a .inner {
    position: absolute;
    left: 0;
    bottom: 126px;
    width: 91.5%;
    padding: 0 5px;
    background-color: #FFF;
}
.product .list ul li a .inner .name {
    display: block;
    margin: 10px 0;
    font-size: 16px;
}
.product .list ul li a .inner .sub_tit {
    display: block;
    font-size: 20px;
    font-weight: 700;
}
.product .list ul li a p {
    margin: 10px 0 16px 0;
    font-size: 16px;
    line-height: 1.5;
    height: 4.5em;
    overflow: hidden;
}
.product .list ul li a .more {
    display: inline-block;
    font-size: 16px;
    border-bottom: 1px solid #707070;
}
@media screen and (max-width:1000px){
    .product {
        margin: 0 0 130px 0; 
    }
    .product .tit {
        margin-bottom: 40px;
    }
    .product .tit strong {
        font-size: 18px;
    }
    .product .tit h2 {
        font-size: 35px;
    }
    .product .tit h2 span::after {
        top: 24px;
        width: 100px;
    }
    .product .tit h2 span::before {
        top: 24px;
        width: 100px;
    }
    .product .list ul li a .inner {
        bottom: 91px;
    }
    .product .list ul li a .inner .name {
        margin: 5px 0;
        font-size: 13px;
    }
    .product .list ul li a .inner .sub_tit {
        font-size: 18px;
    }
    .product .list ul li a p {
        font-size: 15px;
        height: 3em;
    }
    .product .list ul li a .more {
        font-size: 14px;
    }
}

@media screen and (max-width:640px){
    .product {
        margin: 0 0 70px 0;
    }
    .product .tit {
        margin-bottom: 20px;
    }
    .product .tit strong {
        font-size: 13px;
    }
    .product .tit h2 {
        font-size: 30px;
    }
    .product .tit h2 span::after {
        width: 60px;
    }
    .product .tit h2 span::before {
        width: 60px;
    }
    .product .list ul li {
        width: auto;
    }
    .product .list ul li a .inner {
        bottom: 78px;
    }
    .product .list ul li a .inner .sub_tit {
        font-size: 15px;
        line-height: 1.5;
        height: 1.5em;
        overflow: hidden;
    }
    .product .list ul li a p {
        margin: 5px 0 10px 0;
        font-size: 13px;
    }
    .product .list ul li a .more {
        font-size: 13px;
    }
}
