/* 모든 페이지에 공통 들어가는 스타일 (header/footer) */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap');
@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html, body {
    color: #3D3D3D;
    line-height: 1.5;
    font-family: 'Noto Sans KR', 'NanumGothic', 'Malgun Gothic', 'Apple SD Gothic', 'Apple SD Gothic Neo', 'Dotum', sans-serif;
    font-size: 15px;
    font-weight: 400;
    /* letter-spacing: -0.05em; */
    word-break: keep-all; /* 단어별 줄바꿈 */
}
#wrap { /* id="wrap" */
    overflow: hidden;
    position: relative;
    min-width: 320px;
}
/* 콘텐츠의 넓이를 제한하고 홈페이지를 브라우저 가운데 배치 */
.wrapper {
    width: 100%;
    max-width: 1440px;
    padding: 0 20px;
    margin: 0 auto;
    /* 1400px 이하부터 320px까지 모든 사이즈 반응형 
       1400px 일때에도 좌우에 여백은 유지해야함 
       (1400이상에서 1400px이하로 변경되는 점 - 반응형으로 전환되는점)
       부드럽게 여백을 유지하면서 전환
       원래 좌우에 여백이 20px씩 들어가 있는 걸로 스타일을 줌
       1400px이 콘텐츠 영역인데 왼쪽 20 + 오른쪽 20 = 1440px이 넓이
       padding으로 좌우에 여백을 20px씩 줌  */
}
@media screen and (max-width:1000px){
    html, body {
        font-size: 14px;
    }
}
@media screen and (max-width:640px){
    html, body {
        font-size: 13px;
    }
}/* media 종료 */
.clearfix::after{display:block;clear:both;content:".";visibility:hidden;height:0;}
.clearfix{display:block;}

/* wrapper와 동일한 사이즈를 갖은 position:relative를 요소는
   cnt_wrap 클래스 줌 */
.cnt_wrap {
    position: relative;
}

.header {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid rgba(255,255,255,0.3) ; 
    color: #FFF;
}
.header .logo {
    position: absolute;
    left: 5%;
    top: 0;
    z-index: 100;
    height: 100px;
}
.header .logo a {
    display: block;
    margin-top: 33px;
    width: 166px;
    height: 34px;
    background-image: url(../images/common/logo_w.png); 
    background-repeat: no-repeat; 
    background-position: center center; 
    background-size: contain;
    font-size: 0;
    line-height: 0;
}
.header .gnb {
    position: relative;
    height: 100px;
}
.header .gnb .gnb_open {
    position: absolute;
    right: 5.4%;
    top: 40px;
}
.header .gnb .gnb_open button span {
    font-size: 0;
    line-height: 0;
}
.header .gnb .gnb_close {
    display: none;
    position: absolute;
    right: 5.4%;
    top: 40px;
}
.header .gnb .gnb_close button span {
    font-size: 0;
    line-height: 0;
}
.header .gnb .gnb_wrap {
    float: right;
    margin-right: 12%;
}
.header .gnb .gnb_wrap > ul > li {
    position: relative;
    float: left;
    margin: 0 60px;
}
.header .gnb .gnb_wrap > ul.open > li > ul {
    display: block;   
}
.header .gnb .gnb_wrap > ul > li:hover > a {
    font-weight: 700;
    color: #F36608;
}
.header .gnb .gnb_wrap > ul > li > a {
    font-size: 18px;
    line-height: 100px;
}
.header .gnb .gnb_wrap > ul > li > ul {
    display: none;
    position: absolute;
    top: 100px;
    width: 100%;
    height: 360px;
}
.header .gnb .gnb_wrap > ul > li > ul > li {
    width: 170px;
}
.header .gnb .gnb_wrap > ul > li > ul > li > a {
    display: block;
    font-size: 15px;
    line-height: 35px;
}
.header .gnb .gnb_wrap > ul > li > ul > li > a:hover {
    font-weight: 700;
    color: #F36608;
}
.header.open {
    height: 360px;
    background-color: #FFF;
    color: #3D3D3D;
}
.header.open .logo a {
    background-image: url(../images/common/logo.png);
}
.header.open .gnb .gnb_wrap > ul > li > ul {
    display: block;
}
@media screen and (max-width:1440px){
    .header .gnb .gnb_open {
        right: 4.4%;
    }
    .header .gnb .gnb_wrap {
        margin-right: 10%;
    }
    .header .gnb .gnb_wrap > ul > li {
        margin: 0 50px;
    }
    .header .gnb .gnb_wrap > ul > li > a {
        font-size: 15px;
    }
}
@media screen and (max-width:1200px){
    .header .gnb .gnb_open {
        right: 3.4%;
    }
    .header .gnb .gnb_wrap {
        margin-right: 8%;
    }
    .header .gnb .gnb_wrap > ul > li {
        margin: 0 40px;
    }
}
@media screen and (max-width:1000px){
    .header .gnb .gnb_wrap {
        display: none;
    }
}
@media screen and (max-width:640px){
    .header {
        height: 60px;
    }
    .header .logo {
        left: 20px;
        height: 60px;
    }
    .header .logo a {
        margin-top: 21px;
        width: 92px;
        height: 20px;
    }
    .header .gnb {
        height: 60px;
    }
    .header .gnb .gnb_open {
        right: 20px;
        top: 21px;
    }
    .header .gnb .gnb_close {
        right: 20px;
        top: 21px;
    }
    .header .gnb .gnb_wrap {
        display: none;
    }
}

.footer {
    padding: 66px 0 81px 0;
    color: #3D3D3D;
    border-top: 1px solid rgba(0,0,0,0.2);
}
.footer .f_total {
    display: flex;
    justify-content: space-between;
}
.footer .f_total .inner {
    display: flex;
    flex-direction: column;
}
.footer .f_total .inner .f_tit h2 {
    font-family: 'NanumSquareRound';
    font-size: 30px;
    line-height: 50px;
}
.footer .f_total .inner .f_tit h2 strong {
    display: block;
    color: #F36608;
    font-weight: 700;
}
.footer .f_total .inner .family {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 40px;
    width: 180px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #3D3D3D;
}
.footer .f_total .inner .family a {
    display: block;
    font-weight: 700;
}
.footer .f_total .inner .family i {
    width: 15px;
    height: 9px;
    line-height: 40px;
}
.footer .f_total .inner2 {
    position: relative;
    display: flex;
    flex-direction: column;
}
.footer .f_total .inner2 .inner3 {
    display: flex;
}
.footer .f_total .inner2 .inner3 .position {
    margin-right: 40px;
    width: 200px;
}
.footer .f_total .inner2 .inner3 .position strong {
    display: block;
    margin-bottom: 15px;
    font-family: 'NanumSquareRound';
    font-size: 30px;
}
.footer .f_total .inner2 .inner3 .position span {
    color: rgba(0,0,0,0.5);
    line-height: 25px;
}
.footer .f_total .inner2 .inner3 .tell {
    width: 200px;
}
.footer .f_total .inner2 .inner3 .tell strong {
    display: block;
    margin-bottom: 15px;
    font-family: 'NanumSquareRound';
    font-size: 30px;
}
.footer .f_total .inner2 .inner3 .tell span {
    display: block;
    margin-bottom: 7px;
    color: rgba(0,0,0,0.5);
}
.footer .inner2 .copyright {
    margin-top: 40px;
}
.footer .inner2 .copyright span {
    color: rgba(0,0,0,0.5);
}
.footer .btn_top {
    position: absolute;
    right: 8%;
    bottom: 350px;
    float: right;
    width: 60px;
    height: 60px;
    padding: 16px 0 0 12px;
    font-size: 18px;
    background-color: #F36608;
    color: #FFF;
    border-radius: 30px;
}
@media screen and (max-width:1440px){
    .footer .f_total .inner .f_tit h2 {
        font-size: 25px;
        line-height: 45px;
    }
    .footer .f_total .inner2 .inner3 .position strong {
        font-size: 25px;
    }
    .footer .f_total .inner2 .inner3 .tell strong {
        font-size: 25px;
    }
}
@media screen and (max-width:1000px){
    .footer .f_total .inner .f_tit h2 {
        font-size: 20px;
        line-height: 40px;
    }
    .footer .f_total .inner2 .inner3 .position strong {
        font-size: 20px;
    }
    .footer .f_total .inner2 .inner3 .tell strong {
        font-size: 20px;
    }
    .footer .btn_top {
        bottom: 313px;
    }
}
@media screen and (max-width:700px){
    .footer {
        padding: 20px 0 60px 0;
    }
    .footer .f_total {
        display: block;
    }
    .footer .f_total .inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .footer .f_total .inner .f_tit h2 {
        width: 120px;
        font-size: 15px;
        line-height: 30px;
    }
    .footer .f_total .inner .family {
        padding: 0 10px;
        margin-top: 30px;
        margin-right: 20px;
        width: 131px;
        height: 35px;
        line-height: 35px;
    }
    .footer .f_total .inner .family i {
        line-height: 35px;
    }
    .footer .f_total .inner2 .inner3 {
        justify-content: space-between;
        margin-top: 20px;
    }
    .footer .f_total .inner2 .inner3 .position {
        width: auto;
    }
    .footer .f_total .inner2 .inner3 .position strong {
        font-size: 15px;
    }
    .footer .f_total .inner2 .inner3 .tell {
        width: auto;
    }
    .footer .f_total .inner2 .inner3 .tell strong {
        font-size: 15px;
    }
    .footer .btn_top {
        bottom: 350px;
        width: 40px;
        height: 40px;
        padding: 11px 0 0 7px;
        font-size: 13px;
        border-radius: 20px;
    }
}
@media screen and (max-width:400px){
    .footer .f_total .inner .family {
        margin-right: 0;
    }
    .footer .btn_top {
        bottom: 410px;
    }
}

