@import url(default.css);
@import url(common.css);

.visual {
    position: relative;
    color: #fff;
}
.visual .tit {
    position: absolute;
    left: calc(50% - 702px);
    top: 50%;
    z-index: 10;
    transform: translate(0, -50%);
}
.visual .tit h2 {
    display: block;
    margin-bottom: 20px;
    font-size: 50px;
}
.visual .tit span {
    display: block;
    font-size: 25px;
}
.visual .popup {
    height: 100vh;
}
.visual .popup ul li img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale3d(1.1,1.1,1);
    transition: 2s;
}
.visual .popup ul li.swiper-slide-active img {
    transform: scale3d(1,1,1);
}

@media screen and (max-width:1300px){
    .visual .tit {
        left: 50%;
        top: 50%;
        width: calc(100% - 40px);
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .visual .tit h2 {
        margin-bottom: 20px;
        font-size: 40px;
    }
    .visual .tit span {
        font-size: 20px;
        text-align: center;
    }
}

@media screen and (max-width:1000px){
    .visual .tit h2 {
        margin-bottom: 15px;
        font-size: 33px;
    }
    .visual .tit span {
        font-size: 17px;
    }
    .visual .popup {
        height: 800px;
    }
}

@media screen and (max-width:640px){
    .visual .tit h2 {
        margin-bottom: 10px;
        font-size: 25px;
    }
    .visual .tit span {
        font-size: 13px;
    }
    .visual .popup {
        height: 500px;
    }
}

.product01 {
    position: relative;
    background-color: #FFFEF2;
    padding-bottom: 200px;
}
.product01 .inner {
    display: flex;
    padding: 100px 0 0 120px;
}
.product01 .inner .main .main_tit {
    background-image: url(../images/common/aesop_logo.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 153px;
    height: 48px;
    font-size: 0;
    line-height: 0;
}
.product01 .inner .main .img ul {
    display: flex;
}
.product01 .inner .main .img ul li {
    margin: 50px 20px 0 0;
}
.product01 .inner .main .img ul li:last-child {
    margin-right: 0;
}
.product01 .inner .main .img ul li a {
    display: block;
}
.product01 .inner .main .img ul li a img {
    display: block;
    width: 100%;
    height: 100%;
}
.product01 .inner .int_right {
    padding: 273px 0 0 127px;
}
.product01 .inner .int_right .tit {
    text-align: center;
}
.product01 .inner .int_right .tit h2 {
    margin: 20px 0;
    font-size: 50px;
    font-weight: 700;
}
.product01 .inner .int_right .tit p {
    margin-bottom: 30px;
    font-size: 20px;
}
.product01 .inner .int_right .tit .btn {
    width: 100px;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #3d3d3d;
    text-align: center;
}

@media screen and (max-width:1500px){
    .product01 .inner .int_right {
        padding: 200px 0 0 100px;
    }
    .product01 .inner .int_right .tit h2 {
        font-size: 40px;
    }
}

@media screen and (max-width:1200px){
    .product01 .inner .int_right {
        padding: 130px 0 0 70px;
    }
    .product01 .inner .int_right .tit h2 {
        font-size: 30px;
    }
}
@media screen and (max-width:1000px){
     .product01 .inner {
        display: block;
        padding: 50px 20px 0 20px;
    }
    .product01 .inner .int_right {
        padding: 50px 0 0 20px;
    }
    .product01 .inner .int_right .tit h2 {
        font-size: 30px;
    }
}

@media screen and (max-width:640px){
    .product01 {
        padding-bottom: 50px;
    }
    .product01 .inner .main .main_tit {
        width: 61px;
        height: 20px;
    }
    .product01 .inner .main .img ul li {
        margin: 20px 20px 0 0;
    }
    .product01 .inner .int_right {
        padding: 20px 0;
    }
    .product01 .inner .int_right .tit span {
        font-size: 11px;
    }
    .product01 .inner .int_right .tit h2 {
        margin: 10px 0;
        font-size: 25px;
    }
    .product01 .inner .int_right .tit p {
        margin-bottom: 20px;
        font-size: 13px;
    }
    .product01 .inner .int_right .tit .btn {
        width: 65px;
        height: 20px;
        line-height: 20px;
    }
}

.sub_pdt01 {
    background-color: #ECE3D3;
}
.sub_pdt01 .inner {
    display: flex;
    padding: 200px 0 0 120px;
}
.sub_pdt01 .inner .tit {
    width: 530px;
}
.sub_pdt01 .inner .tit h2 {
    display: block;
    margin: 20px 0;
    font-size: 50px;
    font-weight: 700;
}
.sub_pdt01 .inner .tit p {
    display: block;
    font-size: 20px;
    margin-bottom: 30px;
}

.sub_pdt01 .inner .tit .btn {
    width: 100px;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #3d3d3d;
    text-align: center;
}
.sub_pdt01 .inner .perfume .list {
    display: flex;
}