@import url(default.css);
@import url(common.css);

.visual {
    position: relative;
    color: #FFF;
}
.visual .tit {
    position: absolute;
    left: calc(50% - 506px);
    top: calc(50% - 71px);
    z-index: 10;
    text-align: center;
}
.visual .tit h2 {
    display: block;
    font-family: 'NanumSquareRound';
    font-size: 30px;
    font-weight: 700;
}
.visual .tit span {
    display: block;
    margin-top: 15px;
    font-family: 'NanumSquareRound';
    font-size: 40px;
    font-weight: 700;
}
.visual .popup {
    height: 100vh;
}
.visual .popup ul li img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale3d(1.1,1.1,1);
    transition: 2s;
}
.visual .popup ul li.swiper-slide-active img {
    transform: scale3d(1,1,1);
}
.visual .popup .btn_wrap {
    display: flex;
    align-items: center;
    position: absolute;
    left: calc(50% - 63px);
    top: calc(50% + 133px);
    z-index: 10;
}
.visual .popup .btn_wrap .btn_paging {
    display: flex;
    font-size: 0;
    line-height: 0;
}
.visual .popup .btn_wrap .btn_paging span {
    opacity: 0.5;
    width: 20px;
    height: 20px;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.7);
}
.visual .popup .btn_wrap .btn_paging span.swiper-pagination-bullet-active {
    opacity: 1;
    border: 2px solid #F36608;
}
.visual .popup .btn_wrap .btn_stop {
    width: 35px;
    height: 20px;
    background: url(../images/main/swiper_ico_stop.svg);
    background-position: center center;
    background-repeat: no-repeat;
    font-size: 0;
    line-height: 0;
}
.visual .popup .btn_wrap .btn_stop.play {
    background-image: url(../images/main/swiper_ico_play.svg);
}
@media screen and (max-width:1440px){ 
    .visual .tit {
        left: calc(50% - 420px);
    }
    .visual .tit h2 {
        font-size: 28px;
    }
    .visual .tit span {
        margin-top: 10px;
        font-size: 35px;
    }
}
@media screen and (max-width:1000px){ 
    .visual .tit {
        left: calc(50% - 355px);
    }
    .visual .tit h2 {
        font-size: 25px;
    }
    .visual .tit span {
        font-size: 30px;
    }
    .visual .popup .btn_wrap {
        left: 50%;
        top: calc(50% + 100px);
        transform: translate(-50%, 0);
    }
    .visual .popup .btn_wrap .btn_paging span {
        width: 15px;
        height: 15px;
    }
}
@media screen and (max-width:800px){ 
    .visual .tit {
        left: 40px;
    }
    .visual .tit h2 {
        font-size: 25px;
    }
    .visual .tit span {
        font-size: 30px;
    }
    .visual .tit span .m_no {
        display: none;
    }
    .visual .popup .btn_wrap {
        top: calc(50% + 150px);
    }
}
@media screen and (max-width:640px){
    .visual .tit {
        left: 20px;
        top: calc(50% - 59px);
    }
    .visual .tit h2 {
        font-size: 15px;
    }
    .visual .tit span {
        margin-top: 10px;
        font-size: 20px;
    }
    .visual .popup {
        height: 600px;
    }
    .visual .popup .btn_wrap {
        top: calc(50% + 79px);
    }
    .visual .popup .btn_wrap .btn_paging span {
        width: 10px;
        height: 10px;
    }
    .visual .popup .btn_wrap .btn_stop {
       display: none;
    }
}

.introduce {
    position: relative;
    margin-bottom: 100px;
}
.introduce .inner {
    display: flex;
    margin: 100px 0 0 0;
    flex-direction: row-reverse;
}
.introduce .inner .int_left {
    padding-right: 40px;
    width: 44%;
}
.introduce .inner .int_left a {
    display: block;
    height: 800px;
    border-radius: 0 20px 20px 0;
    overflow: hidden;
}
.introduce .inner .int_left a img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.introduce .inner .int_right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 40px;
    width: 56%;
}
.introduce .inner .int_right .tit {
    margin: 118px 340px 0 0;
    width: 680px;
}
.introduce .inner .int_right .tit h2 {
    display: block; 
    font-family: 'NanumSquareRound';
    font-size: 25px;
}
.introduce .inner .int_right .tit strong {
    display: block; 
    padding: 23px 0 22px 0;
    font-family: 'NanumSquareRound';
    font-size: 40px;
    font-weight: 700;
}
.introduce .inner .int_right .tit p {
    display: block; 
    font-family: 'NanumSquareRound';
    font-size: 20px;
}
.introduce .inner .int_right .list ul li {
    float: left;
    width: calc(33.33% - 20px);
}
.introduce .inner .int_right .list ul li:nth-child(2) {
    margin: 0 30px;
}
.introduce .inner .int_right .list ul li a {
    display: block;
    height: 360px;
    border-radius: 20px;
    overflow: hidden;
}
.introduce .inner .int_right .list ul li a img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.introduce .btn {
    font-family: 'NanumSquareRound';
    position: absolute;
    right: 8%;
    top: 30%;
    width: 130px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #3d3d3d;
    border-radius: 20px;
}
.introduce .btn a {
    display: block;
    padding-left: 20px;
    font-size: 18px;
}
.introduce .btn a::after {
    position: absolute;
    right: 20px;
    top: 15px;
    background-image: url(../images/main/btn_ico.svg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
    width: 20px;
    height: 6px;
    content: "";
}
.introduce .inner .int_left a img:hover {
    transform: scale3d(1.2, 1.2, 1);
}
.introduce .inner .int_right .list ul li a img:hover {
    transform: scale3d(1.2, 1.2, 1);
    /* transform: translate(-10px, -10px); */
    /* box-shadow: 10px 10px 10px rgba(0,0,0,0.3); */
}
.introduce .btn:hover {
    border: 1px solid #F36608;
    color: #F36608;
}
.introduce .btn a:hover::after{
    background-image: url(../images/main/btn_ico_hover.svg);
}
@media screen and (max-width:1700px){
    .introduce .inner .int_right .tit {
        margin: 50px 0 0 0;
    }
    .introduce .inner .int_right .tit h2 {
        font-size: 23px;
    }
    .introduce .inner .int_right .tit strong {
        padding: 20px 0 20px 0;
        font-size: 35px;
    }
    .introduce .inner .int_right .tit p {
        font-size: 18px;
    }
    .introduce .inner .int_left a {
        height: 700px;
    }
    .introduce .inner .int_right .list ul li {
        width: calc(50% - 30px);
    }
    .introduce .inner .int_right .list ul li:nth-child(3) {
        display: none;
    }
    .introduce .btn {
        display: none;       
    }
}
@media screen and (max-width:1200px){ 
    .introduce .inner .int_right {
        padding-right: 20px;
    }
    .introduce .inner .int_right .tit {
        margin: 20px 0;
        width: auto;
    }
    .introduce .inner .int_right .tit h2 {
        font-size: 20px;
    }
    .introduce .inner .int_right .tit strong {
        padding: 15px 0 15px 0;
        font-size: 30px;
    }
    .introduce .inner .int_right .tit p {
        line-height: 1.5;
        height: 4.5em;
        overflow: hidden;
    }
    .introduce .inner .int_right .list ul li {
        width: calc(100% - 0px);
    }
    .introduce .inner .int_right .list ul li:nth-child(2) {
        display: none;
    }
    .introduce .inner .int_left a {
        height: 600px;
    }
}
@media screen and (max-width:750px){
    .introduce {
        margin-bottom: 40px;
    }
    .introduce .inner {
        display: block;
        margin: 0 20px;
    }
    .introduce .inner .int_left {
        margin-top: 20px;
        padding-right: 0;
        width: auto;
    }
    .introduce .inner .int_left a {
        height: 200px;
        border-radius: 20px;
    }
    .introduce .inner .int_right {
        display: block;
        padding-right: 0;
        width: auto;
    }
    .introduce .inner .int_right .tit {
        margin: 40px 0 0 0;
        width: auto;
    }
    .introduce .inner .int_right .tit h2 {
        font-size: 15px;
    }
    .introduce .inner .int_right .tit strong {
        padding: 10px 0 15px 0;
        font-size: 25px;
    }
    .introduce .inner .int_right .tit p {
        height: 3em;
        font-size: 13px;
    }
    .introduce .inner .int_right .list ul li {
        display: none;
        width: auto;
    }
    .introduce .inner .int_right .list ul li:nth-child(2) {
        margin: 0;
    }
    .introduce .btn {
        display: block;
        position: relative;
        right: -50%;
        top: auto;
        width: 90px;
        height: 30px;
        margin-top: 25px;
        line-height: 30px;
        border-radius: 15px;
        transform: translate(-50%, 0);
    }
    .introduce .btn a {
        padding-left: 10px;
        font-size: 13px;
        
    }
    .introduce .btn a::after {
        right: 10px;
        top: 15px;
        width: 12px;
        height: 4px;
    }
}
.event {
    margin-bottom: 190px;
}
.event .tit {
    position: relative;
    padding-top: 100px;
    text-align: center;
}
.event .tit::after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    border-top: 1px solid rgba(0,0,0,0.1);
    content: "";
}
.event .tit h2 {
    margin-bottom: 10px;
    font-family: 'NanumSquareRound';
    font-size: 40px;
    font-weight: 700;
}
.event .tit p {
    font-family: 'NanumSquareRound';
    font-size: 20px;
}
.event .list {
    margin-top: 50px;
}
.event .list ul {
    display: flex;
}
.event .list ul li {
    margin-right: 40px;
    padding: 10px 0;
    width: 440px;
}
.event .list ul li:last-child {
    margin-right: 0;
}
.event .list ul li a {
    display: block;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.event .list ul li a img {
    width: 100%;
}
.event .list ul li a .tit_txt {
    padding: 25px 20px 0 20px  ;
    width: 440px;
    height: 160px;
    background-color: #FFF;
}
.event .list ul li a .tit_txt .main_txt {
    display: block;
    font-family: 'NanumSquareRound';
    font-size: 20px;
    font-weight: 700;
}
.event .list ul li a .tit_txt .sub_txt {
    display: block;
    margin: 10px 0 20px 0;
    font-family: 'NanumSquareRound';
    line-height: 1.5;
    height: 1.5em;
    overflow: hidden;
}
.event .list ul li a:hover {
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px 10px rgba(0,0,0,0.1);
}
@media screen and (max-width:1440px){
    .event {
        margin-bottom: 150px;
    }
    .event .tit {
        padding-top: 80px;
    }
    .event .tit h2 {
        font-size: 35px;
    }
    .event .list ul li a .tit_txt {
        width: auto;
    }
    .event .list ul li a .tit_txt .main_txt {
        line-height: 1.5;
        height: 1.5em;
        overflow: hidden;
    }
}
@media screen and (max-width:1000px){
    .event {
        margin-bottom: 100px;
    }
    .event .tit {
        padding-top: 60px;
    }
    .event .tit h2 {
        font-size: 30px;
    }
    .event .tit p {
        font-size: 15px;
    }
    .event .list ul li a .tit_txt .main_txt {
        font-size: 18px;
    }
}
@media screen and (max-width:640px){
    .event {
        margin-bottom: 50px;
    }
    .event .tit {
        padding-top: 40px;
        text-align: inherit;
    }
    .event .tit h2 {
        font-size: 25px;
    }
    .event .tit p {
        font-size: 13px;
    }
    .event .list {
        margin-top: 20px;
    }
    .event .list ul li {
        margin-right: 40px;
        padding: 10px 0;
        width: auto;
    }
    .event .list ul li a .tit_txt {
        padding: 15px 10px 0 10px  ;
        width: auto;
        height: 100px;
    }
    .event .list ul li a .tit_txt .main_txt {
        font-size: 15px;
    }
    .event .list ul li a .tit_txt .sub_txt {
        display: none;
    }
    .event .list ul li a .tit_txt .date {
        display: block;
        padding-top: 10px;
    }
    .event .list ul li a:hover {
        transform: translate(0, 0);
        box-shadow: npne;
    }
}

.reserve {
    margin-bottom: 150px;
    text-align: center;
}
.reserve .bg {
    position: relative;
    background: url(../images/main/reserve_bg.png) no-repeat center center / cover;
    width: 100%;
    height: 400px;
}
.reserve .bg .txt {
    display: block;
    padding-top: 114px;
    color: #FFF;
}
.reserve .bg .txt h2 {
    display: block;
    font-family: 'NanumSquareRound';
    font-size: 40px;
    font-weight: 700;
}
.reserve .bg .txt span {
    display: block;
    padding-top: 20px;
    font-family: 'NanumSquareRound';
    font-size: 30px;
    font-weight: 700;
}
.reserve .bg .btn {
    display: inline-block;
    margin-top: 30px;
    width: 180px;
    height: 45px;
    color: #FFF;
}
.reserve .bg .btn a {
    display: block;
    border: 1px solid #FFF;
    font-family: 'NanumSquareRound';
    font-size: 18px;
    line-height: 45px;
    border-radius: 20px;
    text-align: center;
}
.reserve .bg .btn a:hover {
    color: #F36608;
    border: 1px solid #F36608;
}
@media screen and (max-width:1440px){
    .reserve {
        margin-bottom: 120px;
    }
    .reserve .bg {
        height: 350px;
    }
    .reserve .bg .txt {
        padding-top: 100px;
    }
    .reserve .bg .txt h2 {
        font-size: 35px;
    }
}
@media screen and (max-width:1000px){
    .reserve {
        margin-bottom: 80px;
    }
    .reserve .bg {
        height: 300px;
    }
    .reserve .bg .txt {
        padding-top: 87px;
    }
    .reserve .bg .txt h2 {
        font-size: 30px;
    }
    .reserve .bg .txt span {
        padding-top: 15px;
        font-size: 18px;
    }
    .reserve .bg .btn {
        margin-top: 25px;
        width: 150px;
        height: 40px;
    }
    .reserve .bg .btn a {
        font-size: 15px;
        line-height: 40px;
        border-radius: 20px;
    }
}
@media screen and (max-width:640px){ 
    .reserve {
        margin-bottom: 50px;
    }
    .reserve .bg {
        height: 250px;
    }
    .reserve .bg .txt {
        padding-top: 75px;
    }
    .reserve .bg .txt h2 {
        font-size: 20px;
    }
    .reserve .bg .txt span {
        padding-top: 10px;
        font-size: 15px;
    }
    .reserve .bg .btn {
        margin-top: 20px;
        width: 126px;
        height: 31px;
    }
    .reserve .bg .btn a {
        font-size: 13px;
        line-height: 31px;
        border-radius: 15px;
    }
}

.news {
    margin-bottom: 200px;
}
.news .inner {
    display: flex;
    justify-content: space-between;
}
.news .inner .news1 {
    width: 680px;
}
.news .inner .news1 h2 {
    font-family: 'NanumSquareRound';
    font-size: 40px;
    border-bottom: 1px solid rgba(0,0,0,0.1) ;
}
.news .inner .news1 h2 a {
    display: block;
    float: right;
    margin-top: 22px;
    font-family: 'NanumSquareRound';
    font-size: 15px;
}
.news .inner .news1 .detail ul li {
    font-family: 'NanumSquareRound';
    font-size: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.news .inner .news1 .detail ul li a {
    display: block;
    line-height: 100px;
}
.news .inner .news1 .detail ul li a span {
    float: right;
    color: rgba(0,0,0,0.5);
    font-family: 'NanumSquareRound';
    font-size: 18px;
}
.news .inner .suggest {
    width: 560px;
    font-family: 'NanumSquareRound';
}
.news .inner .suggest h2 {
    font-family: 'NanumSquareRound';
    font-size: 40px;
    border-bottom: 1px solid rgba(0,0,0,0.1) ;
}
.news .inner .suggest h2 a {
    display: block;
    float: right;
    margin-top: 22px;
    font-family: 'NanumSquareRound';
    font-size: 15px;
}
.news .inner .suggest .detail {
    padding: 144px 96px 0 96px;
    margin-top: 20px;
    background: url(../images/main/suggest.png)no-repeat center center / cover;
    width: 100%;
    height: 380px;
    color: #FFF;
    border-radius: 30px;
    text-align: center;
}
.news .inner .suggest .detail a span {
    display: block;
    margin-bottom: 10px;
    font-family: 'NanumSquareRound';
    font-size: 25px;
    font-weight: 700;
}
.news .inner .suggest .detail a p {
    display: block;
    font-family: 'NanumSquareRound';
    font-size: 15px;
}
.news .inner .news1 h2 a:hover {
    color: #F36608;
    font-weight: 700;
}
.news .inner .suggest h2 a:hover {
    color: #F36608;
    font-weight: 700;
}
.news .inner .news1 .detail ul li:hover {
    color: #F36608;
}
@media screen and (max-width:1440px){  
    .news .inner .news1 {
        width: 600px;
        margin-right: 40px;
    }
    .news .inner .suggest {
        width: 480px;
    }
}
@media screen and (max-width:1200px){ 
    .news .inner .news1 {
        width: 550px;
    }
    .news .inner .news1 .detail ul li a {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .news .inner .news1 .detail ul li a span {
        display: none;
    }
}
@media screen and (max-width:1000px){ 
    .news {
        margin-bottom: 80px;
    }
    .news .inner {
        display: block;
    }
    .news .inner .news1 {
        width: auto;
        margin-right: 0;
    }
    .news .inner .news1 h2 {
        font-size: 35px;
    }
    .news .inner .news1 h2 a {
        margin-top: 17px;
    }
    .news .inner .news1 .detail ul li {
        font-size: 15px;
    }
    .news .inner .news1 .detail ul li a {
        line-height: 80px;
    }
    .news .inner .suggest {
        margin-top: 50px;
        width: auto;
    }
    .news .inner .suggest h2 {
        font-size: 35px;
    }
    .news .inner .suggest h2 a {
        margin-top: 17px;
    }
    .news .inner .suggest .detail {
        padding: 100px 40px 0 40px;
        height: 250px;
    }
    .news .inner .suggest .detail a span {
        font-size: 20px;
    }
    .news .inner .suggest .detail a p {
        line-height: 1.5;
        height: 3em;
        overflow: hidden;
    }
}
@media screen and (max-width:640px){ 
    .news {
        margin-bottom: 50px;
    }
    .news .inner .news1 h2 {
        font-size: 30px;
    }
    .news .inner .news1 h2 a {
        margin-top: 13px;
    }
    .news .inner .news1 .detail ul li {
        font-size: 13px;
    }
    .news .inner .news1 .detail ul li a {
        line-height: 60px;
    }
    .news .inner .suggest {
        margin-top: 50px;
    }
    .news .inner .suggest h2 {
        font-size: 30px;
    }
    .news .inner .suggest h2 a {
        margin-top: 13px;
    }
    .news .inner .suggest .detail {
        padding: 61px 20px 0 20px;
        height: 200px;
    }
    .news .inner .suggest .detail a span {
        font-size: 15px;
    }
    .news .inner .suggest .detail a p {
        font-size: 13px;
    }
}
